
.swiper-container {
    width: 668px;
    height: 501px;
}

body {
    background-color: black;
    color: black;
    margin: 0;
    background-color:  #EFEFEF;
    cursor:pointer;
}
[data-x].active{
    outline: 5px solid red;
}
[data-x].offset{
    transform: translateY(100px);
    transition: all 0.3s linear;
}

.welcome.active{
    height: 100%;
    width: 100%;
    display: flex;
    background: grey;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.welcome{
    display: none;

} 
.loading{
    width:300px;
    height:300px;
    position: relative;
  }
  .loading::before,.loading::after{
    content: "";
    width:10px;
    height:10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    animation: s 1.5s linear infinite;
  } 
  .loading::after{
    content:"";
    animation-delay: 0.75s;
  }
  @keyframes s{
    0%
    {width:0px;
    height:0px;
    opacity: 1;
    }
    100%{
      width:100px;
      height:100px;
      opacity: 0;
    }
  }

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}

.topNavBar nav {
    float: right;
}
.topNavBar{
    color: #b7b7b7;
}
.topNavBar.sticky{
    background: rgba(255,255,255,0.8);
    padding: 10px;/*修改*/
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #3d4451;
}

.topNavBar nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.topNavBar nav>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    
}
.topNavBar nav>ul>li .submenu{
    display: none;
    

}
.topNavBar nav>ul>li.active .submenu{
    display: block;
    position: absolute;/*由于父元素宽度发生变化*/
    top:100%;
    right: 0;
    white-space: nowrap;
    background: white;
    color: #3d4451;
    animation: submenu 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

@keyframes submenu{
    0%{margin-right: 100%}
    100%{margin-right: 0}
}

.topNavBar nav>ul>li .submenu > li{
    white-space: nowrap;
    padding: 10px;
}
.topNavBar nav>ul>li>a {
    font-size: 12px;
    text-decoration: none;
    float: left;
    border-bottom: 3px solid transparent;
    background-color: transparent;
    display: block;
   /* border-top: 3px solid transparent;*/
    padding-top: 5px;
    padding-bottom: 5px;
    color: inherit;
    position: relative;
}

.topNavBar nav>ul>li.active>a::after,
.topNavBar nav>ul>li.highlight>a::after {
    /*border-bottom: 3px solid #e06567;*/
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #e06567;/*第一部分、注意不是color*/
    position: absolute;
    top: 100%;
    left: 0;
    animation:  menuSlide 0.3s linear;
}



.topNavBar nav>ul>li>a:hover::after {
    /*border-bottom: 3px solid #e06567;*/
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #e06567;/*第一部分、注意不是color*/
    position: absolute;
    top: 100%;
    left: 0;
    animation:  menuSlide 0.3s linear;
}
/*加关键帧*/
@keyframes menuSlide{
 0%{width: 0%;}  
 100%{width: 100%;}
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 24px;
    font-family: "Arial Black";
}

.RS {
    margin-right: 4px;
    color: #e6686a;
}

.CARD {
    color: #9A9DA2;
}

/*要对齐，首先补齐border-top,*/

.topNavBar {
    padding: 38px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.banner {
    background-image: url(./rs-cover.jpg);
    height: 515px;
    background-position: center center;
}

* {
    margin: 0;
    padding: 0;
}

.inner {
    padding: 0 16px;
}

.banner .mask {
    background-color: rgba(0, 0, 0, 0.8);
    height: 515px;
    background-size: cover;
}

/*以上遇到问题，图片居中，自适应大小，padding的问题*/

.usercard {
    max-width: 940px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}

.usercard .hello {
    color: white;
    background-color: #E6686A;
    padding: 4px 16px;
    display: inline-block;
    /*为什么这么设置?确认行高总是忘记*/
    line-height: 22px;
    position: relative;
}

.usercard .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-top-color: #E6686A;
    border-left-width: 0px;
    position: absolute;
    top: 100%;
    left: 4px;
}
.usercard .picture{
    float: left;
}
.usercard .text{
    float: left;
    margin-left: 65px;
    width: 470px;/*忘记写这个，踩了半天雷！！！！！*/
}
.usercard .textandpicture{
    padding: 50px;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;/*不懂hbb-t*/
    margin: 20px 0;
}
/*
.text dt{
    float: left;
    width: 30%;
} 
.text dd{
    float: left;
    width: 70%;
}*/
.usercard dl dt,
.usercard dl dd{
    float: left;
}
.usercard dl dt{
    width: 30%;
    padding: 5px 0px;
    font-weight: bold;
}
.usercard dl dd{
    width: 70%;
    padding: 5px 0px;
    color: #9da0a7;
}
.usercard h1{
    font-weight: bold;
    padding-top: 24px;
    }
.media{
    background-color: #E6686A;
    text-align: center;/*陷入迷茫，text-allign放在什么位置啊*/

}
.media>a{
    width: 40px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    padding: 5px 0;
    margin: 16px;
    border-radius: 50%;
}
.media svg{
    fill: white;
    width: 30px;
    height: 30px;
    vertical-align: center;
 
}
.media>a:hover{
    background-color: #CF5D5F;/*这个背算了，要想a标签
    有一个圆边框，首先设置字体大小，画一个边框，然后在a标签
    中将边框转化为圆，用line-heigh和padding设置居中，在设置垂直居中，
    然后，在a中设置背景色为你需要的颜色，就是基本一切都在a中设置*/
}
main{
    margin-top: -280px;
}/*需要查一下怎么上浮？？？其他的方法，上移*/
.download{
    font-size: 14px;
    display: inline-block;
    padding: 21px 55px;
    line-height: 16px;
     border:1px solid #cdcfd1;
     background: EFEFEF;
     border-radius: 2px;
     color: #3d4451;
     font-weight: bold;
     margin: 32px 0;
     transition: box-shadow 0.1s;/*转换时间*/
}
.download-wrapper{
    text-align: center;
}
.download:hover{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5);
}
.self-introduction{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:"楷体","楷体_GB2312";
    line-height: 18px;
    font-size: 18px;
    margin-top: 18px;
}
.skills,
section.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    
}
section.skills>h1,
section.portfolio>h2
{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 60px;
}
section.skills>h1{
    margin-bottom: 12px;
}
ul,ol{
    list-style: none;
}
section.skills>ol{
    padding: 42px 50px 10px;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.5);

}
.progressbar{
    height: 5px;
    background-color:#FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
    
    overflow: hidden;
}
section.skills.offset .progress{
    transform: translateX(-100%);
    
}
.progressbar .progress{
    height: 100%;/*也可以写成100%*/
    width: 70%;
    background-color: #e6686a;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 0.3s;
}
/*以下为重点,怎么调整两行的间距，很简单，就是调整两列的百分比宽度，然后
一个左浮，一个右浮，主要还是练习*/
section.skills>ol>li{
    float:left;
    width: 48%;
    box-sizing: border-box;/*好用的盒模型*/

}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
section.skills>h2{
margin-bottom: 10px;
}
section.portfolio>h2 {
    margin-bottom: 15px;
}
section.skills>ol>li:nth-child(even){
    float:right;/*选中偶数个儿子，odd是奇数*/
}
.portfolio>nav>ol>li{
    float: left;
    margin-left: 20px;
    cursor: pointer;/*改变成手*/
}
.portfolio>nav{
    text-align: center;/*要想让li们居中，text-align必不可少*/
}
.portfolio>nav>ol{
   /*以下为几个内联元素一起居中的方法：调为inline-block之后才可以调margin，此时会有基线对齐，那你
   调整为vertical-align：top；既可以了，但是有一个问题，用了margin-left
   之后，元素右移了，第一个元素也有margin，就要用到伪类大法了*/
    
    display: inline-block;
    vertical-align: top;
}
.portfolio>nav>ol>li:nth-child(1){
    margin-left: 0;
}

/*以下开始讲图片的定位,由于绝对定位后，文档流不知道自己应该多高，此时应该给个
height*/
section.portfolio {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}
section.portfolio .swiper-button-prev,section.portfolio .swiper-button-next{
    background-color: white;
    width: 64px;
    height: 64px;
    right: 100%;
    left: auto;
    border-radius: 50%;
    border: none;
}
section.portfolio .swiper-button-next{
    left: 100%;
    right: auto;
}