body {
    background-color: RGB(239, 239, 239);
    color: black;
}
.topNavBar.sticky{
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    color: #3d4451;
    box-shadow: 0 0 0 10 rgba( 0, 0, 0, 0.8);
    z-index: 2;
}
.topNavBar{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #b7b7b7;
}
.topNavBar>.inner >nav>ul>li>a {
    color: inherit;
    text-decoration: none;
    float: left;
    margin: 2px 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    position: relative;
}

.topNavBar>.inner .logo {
    font-family: "Arial Black";
    font-size: 24px;
    text-decoration: none;
}

.RS {
    color: RGB(230, 104, 106);
}

.CARD {
    color: RGB(154, 157, 162);
    padding: 0 12px;
}

.topNavBar>.inner>nav>ul>li {
    float: left;
    list-style: none;
    position: relative;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar>.inner>nav>ul {
    float: right;
}

.logo {
    float: left;
}

* {
    padding: 0;
    margin: 0;
}

.topNavBar>.inner ul>li>a:hover::after {
    content: '';
    display: block;
    background: RGB(230, 104, 106);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    animation: borderSlide 0.3s linear;
}
.topNavBar>.inner ul>li.active>a::after {
    content: '';
    display: block;
    background: RGB(230, 104, 106);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    animation: borderSlide 0.3s linear;
}
@keyframes borderSlide{
    0%{width: 0;}
    100%{widows: 100%}
}
.topNavBar nav>ul>li .subMenu{
    display: none;
    
}
.topNavBar nav>ul>li.active .subMenu{
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    animation: subMenuSlide 0.3s linear;
    display: block;
    white-space: nowrap;
}
@keyframes subMenuSlide{
    0%{margin-right: 100%;}
    100%{margin-right: 0%;}
}

.banner {
    background-image: url("rs-cover.jpg");
    height: 515px;
    background-position: center center;
}

.mask {
    background-color: rgba( 0, 0, 0, 0.8);
    height: 515px;
    background-size: cover;
}

.inner {
    padding: 9px 0px 9px 16px;
}

.topNavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.usercard {
    max-width: 940px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: -340px;
}

.usercard .hello {
    color: white;
    background-color: #E6686A;
    padding: 4px 16px;
    display: inline-block;
    /*为什么这么设置?确认行高总是忘记*/
    line-height: 22px;
    position: relative;
    margin-bottom: 32px;
}

.usercard .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-top-color: #E6686A;
    border-left-width: 0px;
    position: absolute;
    top: 100%;
    left: 4px;
}

.usercard .textandpicture {
    padding: 50px;
}

.usercard .picture {
    float: left;
}

.usercard .text {
    width: 470px;
    float: left;
    margin-left: 65px;
}

.usercard dl {
    display: flex;
    flex-wrap: wrap;
}

.usercard dt {
    width: 30%;
    font-weight: bold;
    padding: 4px 0;
}

.usercard dd {
    width: 70%;
    color: RGB(157, 160, 167);
    padding: 4px 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

hr {
    border: none;
    border-top: 1px solid #DEDEDE;
    height: 0;
    padding-bottom: 21px;
}

.usercard .text h1 {
    padding-bottom: 2px;
}

.usercard .text p {
    padding-bottom: 22px;
}

.media {
    background-color: #E6686A;
    display: flex;
    align-content: center;
    justify-content: center;
}

.media a {
    text-decoration: none;
    margin: 16px;
    border-radius: 100%;
    padding: 5px;
}

.media svg {
    fill: white;
    width: 30px;
    height: 30px;
}

.media a:hover {
    background-color: #CF5D5F;
}

.download-wrapper {
    display: flex;
    justify-content: center;
}

.download {
    text-decoration: none;
    border: 1px solid #DEDEDE;
    color: RGB(61, 68, 81);
    font-weight: bold;
    padding: 23px 55px;
    margin: 32px 0;
    transition: box-shadow 0.3s;
}

.download-wrapper>a:hover {
    box-shadow: 0px 6px 13px -1px rgba(0, 0, 0, 0.43);
}

.self-introduction {
    text-align: center;
    font-family: "楷体";
    font-size: 22px;
}

.skills h1 {
    color: RGB(61, 68, 81);
    font-weight: bolder;
    margin-top: 71px;
    margin-bottom: 31px;
}

ol, ul, li {
    list-style: none;
}

.skills ol {
    max-width: 940px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 46px 21px 10px 17px;
}

.skills ol>li {
    width: 45%;
    margin-left: 33px;
}

.progressbar {
    height: 5px;
    background-color: #FAE1E1;
    border-radius: 2px;
    margin-bottom: 40px;
}

.progressbar .progress {
    height: 5px;
    /*也可以写成100%*/
    width: 70%;
    background-color: #e6686a;
    border-radius: 2px;
    margin: 4px 0;
}

.skills, section.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

section.skills>h1, section.portfolio>h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 55px;
}

.portfolio>nav>ol>li {
    float: left;
    margin-left: 20px;
    cursor: pointer;
    /*改变成手*/
}

.portfolio>nav {
    text-align: center;
}



.portfolio>nav>ol>li:nth-child(1) {
    margin-left: 0;
}

/*目前存在的问题：怎么内缩nav，因为nav和bar应该是一样宽的*/

.portfolio>nav {
    display: inline-block;
   vertical-align: top;
    margin-top: 28px;
}

.portfolio>nav .bar {
    height: 5px;
    background-color: white;
    margin-top: 5px;
    border-radius: 6px;
}

.portfolio>nav .bar .bar-inner {
    height: 100%;
    background-color: #e6686a;
    border-radius: 6px;
    transition: all 0.3s;
}

.portfolio>nav .bar.state-3 .bar-inner {
    height: 100%;
    background-color: #e6686a;
    width: 45%;
    border-radius: 6px;
    margin-left: 130px;
}

.portfolio>nav .bar.state-1 .bar-inner {
    margin-left: 0px;
    width: 18%;
}

.portfolio>nav .bar.state-2 .bar-inner {
    margin-left: 50px;
    width: 35%;
}

.portfolio {
    text-align: center;
    /*为了设置nav中的li和bar居中*/
}

.jobs {
    margin-top: 30px;
    position: relative;
}

.jobs .big {
    position: absolute;
    top: 0;
    left: 0;
}

.jobs .small1 {
    position: absolute;
    top: 0;
    left: 646px;
}

section .jobs .small2 {
    position: absolute;
    top: 312px;
    left: 646px;
}
.welcome.active{
    height: 100%;
    width: 100%;
    display: flex;
    background: grey;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.welcome{
    display: none;

} 
.loading{
    width:300px;
    height:300px;
    position: relative;
  }
  .loading::before,.loading::after{
    content: "";
    width:10px;
    height:10px;
    background:black;
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    animation: s 1.5s linear infinite;
  } 
  .loading::after{
    content:"";
    animation-delay: 0.75s;
  }
  @keyframes s{
    0%
    {width:0px;
    height:0px;
    opacity: 1;
    }
    100%{
      width:100px;
      height:100px;
      opacity: 0;
    }
  }
